@model IEnumerable<ControleFuncionario.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
}

<h1>Empresas</h1>

<p>
    <a asp-action="Create" class="btn btn-dark"><i class="fa fa-plus fa-2" aria-hidden="true"></i> Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeEmpresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpresaId" class="btn btn-dark"><i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i> Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EmpresaId" class="btn btn-dark"><i class="fa fa-file-text-o" aria-hidden="true"></i> Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpresaId" class="btn btn-dark"><i class="fa fa-trash fa-2" aria-hidden="true"></i> Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
